/* Price Chart Widget */
.price-chart-canvas {
  width: 100%;
  height: 100%;
  display: block;
  cursor: crosshair;
  background: #fafafa;
}

.projects-row .project-item:first-child .project-image {
  padding: 0;
}

.projects-row .project-item:first-child .price-chart-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
